@font-face {
    font-family: "PokemonFont";
    src: url('./fonts/PokemonGb-RAeo.ttf') ;
    font-weight: 600;

}


body{
    background-color: rgb(113, 187, 113);
}
img{
    background-color: lightgreen;
    border: 3px solid rgb(113, 187, 113);
    cursor: pointer;
}

.CardList{ 
    display: flex;
    justify-content: center;
    margin-left: 20px;
}

h2{
    margin-bottom: 5px;
    margin-top: 5px;
}

h1{
    font-family: "PokemonFont";
    text-align: center;
    margin-bottom: 5px;
    margin-left: 8px;
    margin-right: 8px;
}

.PokemonCard{
    display:flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    word-break: break-all;
    width:120px;
    margin: 2px;
    height:95px;
    padding-bottom: 60px;
    background-color: rgba(255, 0, 0, 0.596);
    border: 3px solid red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p{
    font-family: "PokemonFont";
    width:100%;
    height:100%;
    font-size: .7rem;
    font-weight: 10;
    margin-top: 0px;
    margin-bottom:2px;
    text-wrap: wrap;
}

ul{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.generationBar{
    display: flex;
    flex-direction: row;
    text-align: center; 
    justify-content: center;
    align-items: center;
}

h2
{
    font-family: "PokemonFont"; 
    font-size: 1.1rem;
}

.loadingText{
    margin-top: 20px;
    text-align: center;
}

.incDecButtons{
    cursor:pointer;
    font-size: 2.5rem;
    margin-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight:bold;
}

.ShinyButton
{
    display:flex;
    background-color: rgb(113, 187, 113);
    color:rgb(185, 158, 1);
    margin-left:auto;
    width: 5%;
    height: auto; 
}

.ListEnhance
{
    display: flex;
    flex-direction: row;
}

.displayEnhancedView
{
    width:fit-content;
    background-color: rgba(255, 0, 0, 0.596);
    border: 3px solid red;
    height:fit-content; 
    padding:20px;
    align-items: center;
    text-align: center;
}

.enhancedImage
{
    width:150px;
    height:auto;
}

.cancelButton
{
    display: flex;
    font-size: 1.5rem;
    background-color: rgb(113, 187, 113);
    font-family: "PokemonFont";
    margin-left: auto;
    cursor:pointer;
    padding:3px;
    padding-left: 5px;
}

.cancelButton:hover{
    background-color: lightgreen;
}

.descText{
    display:flex;
    width: 250px;
    height:auto;
    color:black;
    align-items: center;
    justify-content: center;
    margin-right:auto;
    background-color: lightgreen;
    word-break:normal;
    padding: 5px;
    text-align: center;
    margin-top: 0px;
}

.descTitle{
    color:black;
    background-color: lightgreen;
    margin-bottom: 0px;
    font: "PokemonFont";
    padding-top: 2px;
}

.speaker{
    width:30px;
    height:auto;
}